@font-face {
  font-family: vazir;
  src: url(/assets/fonts/Vazirmatn-RD-FD-Regular.woff2) format("woff2");
  font-weight: 300;
}
@font-face {
  font-family: vazir;
  src: url(/assets/fonts/Vazirmatn-RD-FD-Bold.woff2) format("woff2");
  font-weight: 600;
}

body {
  font-family: vazir;
}
